@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
	--height5: 5vh;
	--height10: 10vh;
	--height20: 20vh;
	--colorblue: rgba(20, 42, 72, 1);
	--colordarkblue: rgb(13, 27, 46);
	--colorblack: black;
}

html,
body {
	margin: 0;
	background-color: var(--colorblack);
	color: white;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: white;
}

.bodycontainer {
	background-color: var(--colorblue);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boitecentre {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infocreation {
	background-color: var(--colordarkblue);
	font-family: 'Share Tech', sans-serif;
	text-align: center;
	border: dashed yellow;
	padding: 5%;
	box-shadow: 10px 5px 5px black;
}

.toolbar {
	width: 100%;
	background-color: var(--colordarkblue);
	font-family: 'Share Tech', sans-serif;
	position: fixed;
	display: flex;
	align-items: center;
}

.header {
	height: var(--height10);
	top: 0px;
	border-bottom: dashed yellow;
}

.header .logo {
	align-self: start;
}

.logo img {
	height: var(--height20);
}

.message {
	margin: auto;
}

.menu {
	margin-right: 5vw;

}

.bodycontent {
	margin: var(--height20) 5vw var(--height5);
	display: flex;
	justify-items: center;
	align-items: center;
}

.carre {
	min-block-size: 44px;
	margin: 2vh;
	padding: 2vh;
	border: 1px solid whitesmoke;
	border-radius: 10px;
	text-align: center;
	box-shadow: 5px 5px 5px whitesmoke;
}

.footer {
	height: var(--height5);
	bottom: 0px;
	border-top: dashed yellow;
	justify-content: center;
	text-align: center;
}