@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
	--height10: 10%;

}

html,
body {
	margin: 0;
	background-color: rgba(20, 42, 72, 1);
	color: white;
	width: 100%;
	height: 100%;
}

img {
	width: auto;
	height: auto;
}

.bodycontainer {
	margin-top: var(--height10);
	width: 100%;
	height: 100%;
	display: flex;
}

.boitecentre {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infocreation {
	background-color: rgb(13, 27, 46);
	font-family: 'Share Tech', sans-serif;
	text-align: center;
	border: dashed yellow;
	padding: 5%;
	box-shadow: 10px 5px 5px black;
}

.toolbar {
	width: 100%;
	background-color: black;
	font-family: 'Share Tech', sans-serif;
	position: fixed;
	display: inline-flex;
	align-items: center;
}

.header {
	height: var(--height10);
	top: 0px;
	border-bottom: dashed yellow;
	justify-content: space-around;
}

.footer {
	height: 5%;
	bottom: 0px;
	border-top: dashed yellow;
	justify-content: center;
	text-align: center;
}